.webcam {
  position: absolute;
  left: 0;
  right: 0;
  text-align: "center";
  z-index: 9;
  width: 640;
  height: 480;
}

.game-display {
  position: relative;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 9;
  width: 640;
  height: 480;
}
